export(avg.modindices)
export(bin.results)
export(bin.rsquare)
export(calc.dist)
export(gam.path)
export(make.bin)
export(make.covar)
export(modelsummary)
export(plotbin)
export(plotmodelfit)
export(plotpath)
export(runModels)
import(gplots)
import(lavaan)
import(mgcv)
